html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-wrap: anywhere;
}

body {
  display: block;
  min-height: 100vh;
  background-color: $basic-background;
  color: $basic-color;
  font-family: $font-rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $basic-color;
}

img {
  max-width: 100%;
  height: auto;
}
