$desktop: 1439px;
$tablet: 767px;
$tablet-min: 500px;
$mobile: 320px;
$extra: 2dppx;

$font-rubik: "Rubik", "Arial", "Helvetica", sans-serif;

$basic-color: #ffffff;
$basic-background: #111111;
$greenish-yellow: #fcda28;
$white-aluminum: #adadad;
